.App {
  text-align: center;
}

.navbar{
  background-color: cadetblue;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar input{
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  min-width: 250px;
}

.cart{
  margin-right: 20px;
  position: relative;
  padding: 10px;

}
.cart>i{
  font-size: 1.2rem;
}
.cart .count{
  position: absolute;
  background-color: orange;
  border-radius: 50%;
  right: -10;
  top: 0;

  padding: 0 5px;
  margin: 0;
}
.products{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.products img{
  width: 100%;
  height: 300px;
}

.product{
  text-align: left;
  width: 250px;
  min-height: 500px;
}

.product small{
  margin-right: 20px;
}

.product .price{
  background-color: orange;
  padding: 5px 10px;
  border-radius: 7px;
  display: block;
  width: fit-content;
}

.product button{
  width: 100%;
  margin: 10px auto;
  border: none;
  background-color:aquamarine;
  padding: 5px 10px;
  border-radius: 5px;
}

.product:hover{
  box-shadow: 2px 2px 1px rgb(182, 179, 179);
  border-radius: 10px;
  transform: scale(1.02);
}

.container{
  display: grid;
  grid-template-columns: 200px 1fr;
}

.sidebar{
  width:200px;
  min-height: 90vh ;
  background-color: cadetblue;
}

.categories{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  padding: 20px;
}

.categories a{
  padding-bottom: 20px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}